
form{
  width: 50%;
  height: 90%;
  margin-left: 25%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 20px;
  grid-template-rows: auto;
  background-color: #35393b;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}
form input{
  background-color: #35393b;
  height: 30px;
  width: 90%;
  color: white;
  border-radius: 20px;
  padding-left: 10px;
  margin-left: 50px;
  box-shadow: 0;
  outline: 0;
  border: 0px 1px 1px 0px solid #03e9f4;
}
form input:focus{
  border-bottom: 5px solid #03e9f4;
  border-right: 5px solid #03e9f4;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
}
form label{
	font-weight: bolder;
	color: white;
	margin-left: 5%;
}
button{
    display: inline-block;
    background-color: transparent;
    border: 1px solid #03e9f4;
    padding: 20px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    margin-left: 50px;
}
button:hover{
  background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
     cursor: pointer;
}
