<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Speak Up</title>
</head>
<body>
    <div class="container">
        <header class= "pagina_inicial">
                <img src="./imagem/logo_speakup.png" alt="Logo"> 
        </header>
    
                 <div class = "segunda_parte">  

                    <div class = "slogan">  

                        <h1>Inicie agora uma nova jornada de <br> aprendizagem!</h1>
  
                    </div>
                        <div class = "Grid"> 

                                <div> 

                                
                                        <img src=" " alt="cursos">
                                    
                                        <h2> Conheça nossos cursos </h2>

                                </div>


                                        


                                <div>   

                                        
                                         <img src= " " alt= "metodologia">

                                         <h2> Metodologia </h2>

                               </div> 
                    
                               
                               
                               <div> 

                                    

                                         <img src= " " alt= "Aluno">
                                         
                                         <h2> Área do Aluno</h2>


                                </div>

                    </div>


                </div>
    </div>

</body>
</html>
